<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <servlet>
        <servlet-name>FigServlet</servlet-name>
        <servlet-class>fig.servlet.FigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FigServlet</servlet-name>
        <url-pattern>/Fig</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TranslateServlet</servlet-name>
        <servlet-class>cortex.servlet.TranslateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TranslateServlet</servlet-name>
        <url-pattern>/Translate</url-pattern>
    </servlet-mapping>

</web-app>
